header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            display: none;
        }
        @media screen and (max-width: 990px){
            button {
                display: block;
            }

            a {
                display:none;
            }
        }

    }

}
